main
  section.info(aria-label="Service information")
    .info__icons.flex
      article
        img(src="assets/images/icon-access-anywhere.svg", alt="" aria-hidden="true")
        h2 Access your files, anywhere
        p The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.

      article
        img(src="assets/images/icon-security.svg", alt="" aria-hidden="true")
        h2 Security you can trust
        p 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.

      article
        img(src="assets/images/icon-collaboration.svg", alt=""  aria-hidden="true")
        h2 Real-time collaboration
        p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.

      article
        img(src="assets/images/icon-any-file.svg", alt="" aria-hidden="true")
        h2 Store any type of file
        p Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.

    article.flex
      img(src="assets/images/illustration-stay-productive.png", alt="" aria-hidden="true")
      div
        h2 Stay productive, wherever you are
        p Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
        
        p Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.

        a(href= '#') See how Fylo works #[i.fas.fa-arrow-circle-right]

  section.testimonials.flex(aria-label="Testimonials")
    figure
      blockquote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer
        img(src="assets/images/profile-1.jpg", alt="Satar Patel", aria-hidden="true") 
        cite
          h3 Satish Patel 
          small Founder & CEO, Huddle
    figure
      blockquote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer
        img(src="assets/images/profile-2.jpg", alt="Bruce McKenzie", aria-hidden="true")
        cite
          h3 Bruce McKenzie
          small Founder & CEO, Huddle

    figure
      blockquote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
      footer 
        img(src="assets/images/profile-3.jpg", alt="Iva Boyd", aria-hidden="true")
        cite
          h3 Iva Boyd 
          small Founder & CEO, Huddle
