.copy.flex
  p Developed by Pablo Peña
  ul
    li #[a(href="https://github.com/PabloPenia/fylo-dark"  target="_blank") #[i.fab.fa-github-square] Code]
    li #[a(href="https://linkedin.com/in/PabloPenia" target="_blank") #[i.fab.fa-linkedin] Contact]
    