header.l-hero
  .flex
    span.icon.logo
      +svg('logo')
    nav 
      a(href= '/') Features
      a(href= '/') Team
      a(href= '/') Sign In
  .l-hero__content
    img(src="assets/images/illustration-intro.png", alt="" aria-hidden="true")
    h1 All your files in one secure location, accessible anywhere.
    p Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
    a.btn(href= '#') Get Started